$taskbar: 40px;
$header: 35px;
$iconColorHover: #fff;
$borderColor: #ededed;
$textColor: #ededed;
$iconColor: #ededed;
$windowUnselectedIconColor: #80878b;
$headerColor: #2b373d;
$tabsColor: #445760;
$bgclose: #e81123;
$hoverbg: rgba(255, 255, 255, 0.1);;
